[2019-10-12 03:53] dkoslicki opened #1 "Missing setup.sh"
There is no `setup.sh` as detailed in the `README`. Perhaps `setup_data.sh` and/or `setup_libraries.sh`?

[2019-11-08 01:02] nlapier2 commented on #1
This was due to the README having not been prepared for release yet.

[2019-11-08 01:02] #1 closed, assigned to nobody

[2019-11-25 20:39] dkoslicki opened #2 "KMC bad_alloc error"
It appears that the cause of this is due to the `-sm` and `-m200` flag in [these lines](https://github.com/nlapier2/Metalign/blob/master/select_db.py#L56-L58). Indeed, from the command line,
[code]
throws the `bad_alloc` error, while
[code]
does not. I vote we let KMC determine the amount of memory to use, rather than to try and determine it ourselves. Alternatively, you can make this an option an

[2019-11-25 20:41] dkoslicki opened #3 "FASTA and FASTQ support"
It appears KMC is expecting FASTQ formatted input in [these lines](https://github.com/nlapier2/Metalign/blob/master/select_db.py#L56-L58):
[code]
yet
[code]
runs just fine.

We should either specify in the man page that FASTQ is expected, or else add functionality to handle either FASTA or FASTQ (the better choice).

[2019-11-25 21:02] dkoslicki opened #4 "CMash need not be run with kmer sizes down to 30"
In [this line](https://github.com/nlapier2/Metalign/blob/master/select_db.py#L81-L82), we do not need CMash to be run with `30-60-10`, as we only use 60-mers in the downstream analysis.

[2019-11-25 21:03] dkoslicki opened #5 "Add capability to operate on compressed reads"
Requiring users to decompress reads is annoying.

[2019-11-25 21:26] dkoslicki opened #6 "Add command line argument descriptions"
I.e. what they do and how to use them.

[2019-11-25 22:13] dkoslicki opened #7 "Don't make metalign.py executable"
since we need to use `python3 metalign.py`, don't make it executable by default (i.e. no `chmod +x metalign.py`)

[2019-11-25 22:16] dkoslicki opened #8 "Indicate to user where the subset database exists"
I see it's in some randomly generated folder name under `data`, but this should be described (and maybe allow the user to specify where it goes?).

[2019-11-25 22:17] dkoslicki commented on #6
Specifically, in the wiki

[2019-11-25 22:33] dkoslicki opened #9 "Threads option isn't inherited by KMC"
Looks like it's still using 48 threads as the default [here](https://github.com/nlapier2/Metalign/blob/master/select_db.py#L57).

[2019-11-25 22:51] dkoslicki opened #10 "File placements not consistent"
When running:
[code]
The `*.kmc_pre` and `*.kmc_suf` end up in the `test` folder. But when using a fresh installation (to test alternate ways to install) and pointing to a different `data` folder elsewhere:
[code]
then the kmc files end up in `MetalignV3/Metalign/data/<random folder name>`. Note how I was calling the data file that existed outside of the main Metalign folder. This causes Metalign

[2019-11-28 02:51] nlapier2 commented on #6
I have added these for the main scripts and will continue updating as needed.

[2019-11-28 02:51] #6 closed, assigned to nobody

[2019-11-28 03:18] nlapier2 commented on #5
Just tested, this can already be done.

[2019-11-28 03:18] #5 closed, assigned to dkoslicki

[2019-11-28 03:26] nlapier2 commented on #7
Fair enough, done.

[2019-11-28 03:26] #7 closed, assigned to nobody

[2019-11-28 03:30] nlapier2 commented on #8
The metalign.py wrapper script currently abstracts the intermediate steps such as the placement of the subset database away for simplicity. The option is available when running the two steps separately, and is covered in the new docs (see --db option for select_db.py).

Do you think we should add this option to the metalign.py wrapper?

[2019-11-28 04:31] nlapier2 commented on #2
Great find! I did the former (letting KMC determine it). Thanks!

[2019-11-28 04:31] #2 closed, assigned to nobody

[2019-11-28 04:39] nlapier2 commented on #4
What should I replace that with? Can I just do "60" or would I have to do something like "60-60-10"? Would I also have to re-do the filter?

[2019-11-28 05:15] nlapier2 commented on #3
Good suggestion. I've added the option for the user to specify either one, with the default being attempted auto-detection based on file name extension.

[2019-11-28 05:15] #3 closed, assigned to nobody

[2019-11-28 05:16] nlapier2 commented on #9
Thanks, I've updated this.

[2019-11-28 05:16] #9 closed, assigned to nobody

[2019-12-09 19:12] dkoslicki commented on #4
You would not need to redo the filter. Also, 60-60-10 will work (but note that it will change the dimensions of the resulting tsv file, but this might not matter if you just take the last column in your code currently).

[2019-12-09 19:15] dkoslicki commented on #8
I think how you have it now works. I'll close if there are no objections.

[2019-12-09 19:15] #8 closed, assigned to nobody

[2019-12-09 19:52] nlapier2 commented on #4
Changing to 60-60-10 for the StreamingQueryDNADatabase call seems to change the results (even though I only took the last column originally)... does this make any sense?

[2019-12-10 18:21] dkoslicki opened #11 "Script hanging problem (and proposed solution)"
@nlapier2 So I figured out the probably source of the program hanging: python3 vs python2 for CMash:
After setting up the data, this hangs:
[code]
So instead, try python2, and it doesn't hang:
[code]
So possible solutions (with my assessment of ease of implementation):
1. Make setup_libraries.sh use python2 when installing CMash (probably via a virtualenv) (easy)
2. See why marisa-trie isn't worki

[2019-12-10 21:02] dkoslicki commented on #11
Update: looks like it's not marisa-trie that's causing the issue, since the code is stalling out [here](https://github.com/dkoslicki/CMash/blob/master/scripts/StreamingQueryDNADatabase.py#L266-L271). So it looks like it might be a python2 vs python3 thing with the `pool.map` function instead.

[2019-12-10 23:58] nlapier2 commented on #11
Great, thanks for the help in figuring this out! Locally, I've gotten the "easy" (virtualenv) solution working, and I am currently working on getting the repo/docker/docs updated. We could look into the more fundamental pool.map issue eventually. It would be ideal if the repo was compatible with both python2 and python3.

[2019-12-11 17:18] nlapier2 commented on #11
Repo/docs/docker updated. Closing this for now since we have something working, though we could revisit the more fundamental fixes eventually.

[2019-12-11 17:18] nlapier2 commented on #10
I believe this is addressed by the new hanging fix.

[2019-12-11 17:18] #10 closed, assigned to nobody

[2019-12-11 17:36] dkoslicki commented on #11
Actually, I may have just solved the issue and made it python2 and python3 compliant, so I'll re-open momentarily, then comment after testing if it's fixed.

[2019-12-11 18:16] dkoslicki commented on #11
Ok, looks like it works now. See [this issue in the CMash repo](https://github.com/dkoslicki/CMash/issues/12). I'll need to change the `setup_libraries.sh` script to reflect this.

[2019-12-11 18:17] dkoslicki commented on #11
@nlapier2 Feel free to test on your end too in order to confirm it's working with just python3. Feel free to close if it does

[2019-12-11 19:48] nlapier2 commented on #11
Works for me! Do you think we should put the --user flag for pip installing requirements, since users (esp. on servers) may not have root permissions?

[2019-12-11 19:49] dkoslicki commented on #11
Good point! Go ahead and add the `--user` flag

[2019-12-11 19:51] #11 closed, assigned to nobody

[2019-12-11 20:02] dkoslicki commented on #4
That's odd! It really shouldn't change things, but I would need to look into this further...

[2019-12-12 16:15] dkoslicki opened #12 "Create tutorial scripts that show common use cases"
Motivation: I have colleagues who would like to use this tool, but for more than just generating taxonomic profiles. I would also like to utilize the resulting SAM files to do things like investigate horizontal gene transfer, look at structural variation, analyze bacterial evolution, etc.

Goal: create an assortment of bash scripts that show a variety of different ways in which this "reduce databa

[2020-01-20 07:49] Anto007 opened #13 "Can metalign be used for profiling (micro)eukaryotes?"
Can metalign be used for profiling (micro)eukaryotes in metagenomes? I believe the answer is "No" but I would appreciate if you could confirm this.

[2020-01-20 18:45] nlapier2 commented on #13
Hi there, Metalign is capable of profiling single-celled eukaryotes. Of course, reference databases have fewer reference genomes for eukaryotes than for bacteria, so that has to be kept in mind.

[2020-01-20 20:49] Anto007 commented on #13
Many thanks for your kind clarification. I'm curious to know why you chose to leave out plants and animals (esp. Homo sapiens; of course, I'm aware that it is best if human reads are filtered out prior to analysis)? For example, in clinical metagenomic libraries, it will be useful to know the relative abundance of reads from human and similarly, the relative abundance of plant pollen in environmen

[2020-01-20 21:05] nlapier2 commented on #13
That's an interesting point. We left them out because we only want to profile microorganisms, but I see how their inclusion could be relevant for some contexts. This is a feature we'll think about adding.

[2020-01-20 21:05] #13 closed, assigned to nobody

[2020-01-21 12:42] luhugerth commented on #12
Hi! Simple question, related to the tutorial :) How does metalign treat paired reads? If two fastq files are given as input, will they be treated as paired? Does it matter what the name of the files is? Thanks!

[2020-01-21 12:57] Anto007 opened #14 "Permission denied for docker pull"
I would appreciate if you could assist with the below error:

$ docker pull nlapier2/metalign
Using default tag: latest
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.39/images/create?fromImage=nlapier2%2Fmetalign&tag=latest: dial unix /var/run/docker.sock: connect: permission denied

[2020-01-21 15:02] peterk87 commented on #14
This sounds like an issue I've come across a couple times. Hope you find the following info useful specifically `sudo chmod 666 /var/run/docker.sock`.

### Permission denied while trying to connect to the Docker daemon socket

#### Issue

When trying to run docker (e.g. `docker run hello-world`), you get the following message:

[code]

You probably won't be able to run `docker` without `sudo`.

##

[2020-01-21 15:13] nlapier2 commented on #12
Hi, thanks for your interest. Right now, we do not handle separate paired reads files; we instead require them to be interleaved first. Accepting separate paired files is a feature we'd like to add.

[2020-01-21 15:41] peterk87 opened #15 "Zenodo for large data archive?"
[Zenodo](https://zenodo.org/) would allow you to share the required data for Metalign as a single large `tar.gz` with a DOI. It might be useful for releasing updates to the Metalign database.

[2020-01-21 15:50] nlapier2 commented on #15
I did try to use Zenodo at first, but a combination of the file size limit and extremely slow upload made it infeasible. Ultimately the file size issue remains, but Box was allowing decent upload/download speeds. Have you found a good way to upload large datasets to Zenodo?

[2020-01-21 15:52] nlapier2 commented on #14
Thanks @peterk87 , I would try that @Anto007 . I think it may be a local docker permissions issue because I've had other people pull the docker image without issues. Let me know if it works.

[2020-01-21 17:55] peterk87 commented on #15
Oh that's too bad. Maybe it's an issue of the Zenodo servers being all the way in Europe at CERN and the service being very popular. I haven't recently tried uploading any large files to Zenodo.

Maybe [Figshare](https://figshare.com/) would be a good alternative? I've seen some groups sharing very large files via what look to be university mirrors (e.g. https://bridges.monash.edu/projects/Metagen

[2020-01-21 19:50] peterk87 opened #16 "Allow use of system/user installed Minimap2/KMC/etc"
Right now Minimap2 needs to be installed in a path relative to the calling script:

https://github.com/nlapier2/Metalign/blob/94b6820da1396dd3187dc96cdb9fbb0511636d91/map_and_profile.py#L427

It's fairly easy to install Minimap2 and KMC3 with Conda from the Bioconda channel:

[code]

Code could be changed to:

[code]

[2020-01-21 20:13] peterk87 opened #17 "Use Python logging module?"
The built-in [logging](https://docs.python.org/3.8/library/logging.html) module for Python is quite flexible so instead of this:

https://github.com/nlapier2/Metalign/blob/94b6820da1396dd3187dc96cdb9fbb0511636d91/map_and_profile.py#L11-L19

You can `import logging` and `logging.(debug|info|warning|error)(...)` to log information. Log messages will be written to stderr instead of stdout, which is w

[2020-01-21 22:39] dkoslicki commented on #16
Good idea! We welcome a pull request, otherwise we will try to get to it after we fix a few other issues (namely #12 and CMash installation issues).

[2020-01-21 22:50] dkoslicki commented on #15
It may indeed be worth benchmarking this to see if it's faster to download the organisms this way rather than the current method. Note, though, that future releases will include organisms not just in the NCBI database, so we don't want to tie ourselves too tightly to NCBI/BLAST+.

Also, the FASTA files could "technically" be downloaded on the fly, but due to future planned releases allowing for a)

[2020-01-22 07:24] Anto007 commented on #14
Many thanks for you prompt responses. I did the following:

$ sudo chmod 666 /var/run/docker.sock
[sudo] password:
$ docker pull nlapier2/metalign
Using default tag: latest
latest: Pulling from nlapier2/metalign
7ddbc47eeb70: Pull complete
c1bbdc448b72: Pull complete
8c3b70e39044: Pull complete
45d437916d57: Pull complete
597aa3c88b48: Pull complete
5436c1d9cfe1: Pull complete
81f32bfd77dd: Pull c

[2020-01-22 13:03] peterk87 commented on #14
After `git clone` of the Metalign repo and downloading the databases with the `setup_db.sh` script, I followed the instructions at https://github.com/nlapier2/Metalign/wiki/Running-some-example-data#instructions to run Metalign with docker:

[code]

The above should show the following message:

[code]

The `-v /path/to/Metalign/:/home/workdir` can be confusing but essentially you're sharing the di

[2020-01-22 13:34] luhugerth commented on #14
I can't sudo since I'm working on a shared server, but I've managed to get it working on interactive mode:

`docker run -it --entrypoint /bin/bash -v /home/myuser:/home/input nlapier2/metalign`

I don't know what difference it makes that it's interactive, but it might be a useful bypass for others as well

[2020-01-22 13:41] luhugerth opened #18 "ZeroDivisionError: float division by zero"
Due to constrians described in the docker issue, I'm running Metalign in an interactive Docker session. It seems to work ok, but I get the following error:

`python /home/Metalign/metalign.py --output $output --length_normalize --no_quantify_unmapped         --read_cutoff $threshold $inter $DATA `

I get the same error if I try running the two steps separately:
`python /home/Metalign/select_db.py

[2020-01-22 13:49] peterk87 commented on #15
Custom databases and wrapper for getting data from other sources would be great!

Thanks for the heads up!

[2020-01-22 14:27] peterk87 commented on #16
I could give it a try :)

What version of Python are you targeting? Python 3.6 and later? f-strings, in-line type hints are very nice.

[2020-01-22 14:30] peterk87 opened #19 "setup.py and PyPI, Bioconda deployment?"
Are there plans to restructure Metalign as a Python application that can be deployed to PyPI and maybe Bioconda?

Thanks!

[2020-01-22 14:32] peterk87 opened #20 "Version number, setup.py, github, PyPI, Conda releases"
Hello,

Where can I find the version number of Metalign? It doesn't seem to be anywhere in the source.

Thanks!

[2020-01-22 17:05] dkoslicki commented on #16
@peterk87 Yes, Python >=3.6 is the goal. And goal is to get Travis CI up in the next month, so we can auto test PR's, but until then, we can just make/run manual tests.

[2020-01-22 17:12] dkoslicki commented on #20
@nlapier2 can you include:

- [x] A license (I suggest BSD, an example can be had [here](https://github.com/dib-lab/khmer/blob/master/LICENSE))
- [ ] a `setup.py` script that includes a version number (I suggest starting at 0.1.0 or 1.0.0 depending on your feeling about the stability of the API at the moment). You can find an example [here](https://github.com/dkoslicki/CMash/blob/python3/setup.py)

[2020-01-22 17:16] nlapier2 commented on #20
While you were writing that, I added the version number to the README. The version number I had was 0.9.1, in accordance with the docker versions I had been developing.

There's a LICENSE file with the MIT license.

I do think it would be better to add the setup.py and do GitHub releases in the future.

[2020-01-22 17:16] dkoslicki commented on #19
@peterk87 I'm going to merge this issue with #20 if you don't mind, with the goal of:

- [ ] setup.py
- [ ] github release
- [ ] conda release
- [ ] PyPI release

It may happen that it gets to conda first given the external dependencies, but we shall see. Also, as a heads up, given the tight integration with [CMash](https://github.com/dkoslicki/CMash) and the [current work in CMash to get Python3+

[2020-01-22 17:16] #19 closed, assigned to nobody

[2020-01-22 17:19] nlapier2 commented on #18
This error happens when no reads have been mapped successfully. I will add an update to the software to catch this error and print a more intuitive message.

As for why no reads are being mapped, it would be helpful for me to see a couple reads from the file and the output from the KMC and CMash steps.

[2020-01-22 17:19] dkoslicki commented on #20
@nlapier2 Don't know how I missed the license file earlier, whoops!

[2020-01-22 17:21] dkoslicki commented on #20
TODO's:

- [x] setup.py
- [x] github release
- [x] conda release
- [ ] PyPI release

PyPI release currently blocking on [this issue in CMash](https://github.com/dkoslicki/CMash/issues/13).

It may happen that it gets to conda first given the external dependencies, but we shall see. Also, as a heads up, given the tight integration with CMash and [the current work in CMash to get Python3+ compliant]

[2020-01-22 17:23] nlapier2 commented on #17
Thanks, I'm looking into this.

[2020-01-22 17:24] peterk87 opened #21 "db_info.txt read multiple times during normal run of Metalign"
The `db_info.txt` file is read multiple times when running `metalign.py`:

https://github.com/nlapier2/Metalign/blob/8a7eba84ef7f62a40a28c3117967012a68a97bd0/select_db.py#L174

https://github.com/nlapier2/Metalign/blob/8a7eba84ef7f62a40a28c3117967012a68a97bd0/select_db.py#L41-L46

https://github.com/nlapier2/Metalign/blob/8a7eba84ef7f62a40a28c3117967012a68a97bd0/map_and_profile.py#L537

https://gi

[2020-01-22 17:25] dkoslicki commented on #18
@luhugerth it may be helpful to run `metalign.py` with the option `--temp_dir <temp_dir>` and to send the first few lines (if any) of the file `60mers_intersection_dump.fa` as this is what gets handed off to CMash.

[2020-01-22 17:32] peterk87 commented on #16
@dkoslicki  That's great to hear! Hope setting up CI isn't too tricky for you guys! I've found it difficult to get even tiny bioinformatics analyses to run in a reasonable amount of time with very limited memory.

I've found the [cookiecutter](https://cookiecutter.readthedocs.io/en/latest/README.html#available-cookiecutters) recipe for [Python packages](https://github.com/audreyr/cookiecutter-pypa

[2020-01-22 17:41] nlapier2 commented on #15
I initially cycled through several ways to download NCBI data before eventually landing on rsync-ing every genome assembly (refseq + genbank + more) and from those picking the genomes to use for the DB (excluding animals and plants) and creating the dbinfo file. I did this because it was the most comprehensive download from NCBI that I knew of. However, as the number of genome assemblies continues

[2020-01-22 17:41] #15 closed, assigned to nobody

[2020-01-22 17:42] peterk87 commented on #20
@nlapier2 @dkoslicki Thanks for looking into these things!

To help with packaging the app, it may be useful to slightly restructure the project to fit typical Python package structure:

[code]

You could put some info into `metalign/__init__.py`:

[code]
So that you can import the version and other info to display in other parts of the app.

[2020-01-22 17:57] nlapier2 opened #22 "Building the Metalign database from different sources"
It would be nice to be able to re-build the Metalign database in the same way that it was originally built (although it would be different, and larger, due to more genome assemblies being added to NCBI). A script exists that sort-of does this (given that all NCBI genome assemblies have already been grabbed via rsync), but it needs to be updated and polished: https://github.com/nlapier2/Metalign/bl

[2020-01-22 18:12] peterk87 commented on #15
@nlapier2 Thank you for the info. Would it be possible to add the rsync command you used to download the NCBI data to the wiki, readme or the `ncbi2db.py` script? Did you need to use `--include=PATTERN` and `--exclude=PATTERN` to not download absolutely everything? Thanks!

[2020-01-22 19:19] nlapier2 commented on #15
Sure, I've added the command used as a comment at the top of ncbi2db.py

I did use excludes for unwanted files such as RNA.

[2020-01-22 19:24] peterk87 commented on #15
Thank you @nlapier2! That's awesome :+1:

[2020-01-23 12:20] luhugerth commented on #18
Update: it ran without problems removing the `--no_quantify_unmapped` flag, giving 97.5% mapping to Bacteria.

[2020-01-23 15:08] nlapier2 commented on #18
That's very interesting. I'll have to look into why this issue may be cropping up for that setting.

[2020-01-23 15:14] nlapier2 commented on #21
Yes, that's an improvement that should be made at some point. I generally haven't focused on this much yet because, on my server, it only takes a minute or two to read in the dbinfo file, which is negligible compared to the overall runtime on large reads datasets, albeit irritating for small test datasets. But I will keep this on my to-do list.

Thanks for the reminder on pickling, I will think ab

[2020-01-23 15:17] nlapier2 commented on #14
Hm, that's quite odd. I usually don't use sudo either, for the same reason, but I usually don't run interactive mode, either. What issue do you run into when running non-interactively?

[2020-01-23 20:19] peterk87 commented on #21
Yes, I've found that serialization and deserialization to and from a binary format is usually much faster especially for numerical or fixed size data. I usually try to serialize big array or tabular data in HDF5 format if possible since it's fairly ubiquitious and performant.

I forgot to mention that the memory usage of the dicts `acc2info` and `taxid2info` is *very* high. I'm seeing around 26 GB

[2020-01-23 22:07] dkoslicki opened #24 "KMC fasta vs multi-fasta error"
It appears that KMC will complain if you try to feed it a multi-fasta file instead of a fasta file. Eg.
multi-fasta:
[code]
fasta:
[code]
solution: try to detect this somehow and pass the right arguments to the main script [here](https://github.com/nlapier2/Metalign/blob/master/metalign.py#L25-L26) and add `-fm` [here](https://github.com/nlapier2/Metalign/blob/master/select_db.py#L60-L63).

[2020-01-23 22:13] dkoslicki commented on #24
Alternatively, auto-convert with something like:
[code]
But then we'd lose auto-gunzip with KMC

[2020-01-23 22:53] dkoslicki commented on #22
The following give an example of how to re-train everything, and then make a simple mock community to test metalign with the new training data. This is mostly for my future reference as it's integrated. [See the example here.](https://gist.github.com/dkoslicki/4e0344080038088bf72d8bfa52626c91)

Note this is run in a subdirectory of Metalign (eg. `Metalign/local_tests`) and requires the following [

[2020-01-25 23:03] dkoslicki opened #25 "Will need to re-train the default database"
Due to changes in CMash (namely, lower and uppercase ACTG's are [treated as the same](https://github.com/dkoslicki/CMash/blob/v0.4.0/CMash/MinHash.py#L170) and [non-ACTG characters are ignored](https://github.com/dkoslicki/CMash/blob/v0.4.0/CMash/MinHash.py#L174-L182)), we will need to re-train Metalign and the default training data. Otherwise, this could lead to a significant loss in sensitivity.

[2020-01-25 23:24] dkoslicki commented on #25
And I can confirm that the current training database has lowercase characters in it:
[code]
as well as `N`'s:
[code]

[2020-01-26 05:34] Anto007 opened #26 "Conda installation version?"
Would it be possible to have a conda installation version for this tool? Thank you

[2020-01-27 21:48] dkoslicki commented on #26
This is on the roadmap (eg. see #20), but will take a bit before it's released. I'm going to close this as it's currently part of #20.

[2020-01-27 21:48] #26 closed, assigned to nobody

[2020-02-06 17:35] dkoslicki commented on #25
Also note the difference between the number of organisms in the default database and the organism_files. @nlapier2 looking into it....

[2020-02-06 21:03] dkoslicki opened #27 "Refactor how CMash is called"
Currently, CMash is being called via relative imports. Since the goal is to migrate to conda, it would be nice if the code just called CMash by looking at the $PATH (or wherever it's been installed). This will head off issues with [planned re-structuring of the CMash repo](https://github.com/dkoslicki/CMash/issues/18).

[2020-02-18 05:10] dkoslicki opened #28 "Add option to save the minimap2 output to file (instead of just streaming it through)"
Some envisioned use-cases include investigating what the alignments look like. It would be nice if users didn't need to reverse engineer from the profile.tsv which reference genomes correspond to which, and the sam/bam files just stayed in the in `--temp_dir`. Perhaps a judiciously placed `tee` command somewhere [here](https://github.com/nlapier2/Metalign/blob/1fa856ef1a6551244efe820c840ebfaa4a6f5

[2020-03-20 21:36] dkoslicki commented on #25
@nlapier2 any update on the difference between the number of organisms in the default database and the organism_files?

[2020-03-20 21:44] dkoslicki commented on #25
Note: re-training tutorial (and execution) for default Metalign database is currently being undertaken [in CMash issue 26](https://github.com/dkoslicki/CMash/issues/26) on the `Retraining` branch in CMash

[2020-03-21 03:48] dkoslicki opened #29 "Training file names contain “.gz.gz”"
Eg. `taxid_2103_3_genomic.fna.gz.gz` I count 766 such cases in the `/data/organism_files/` directory.

When I retrain (see #25 ), will bad things happened if I replace these by removing the extra `.gz`? Can’t retrain CMash since it can’t detect the file format with double gz’s.

[2020-03-24 17:07] nlapier2 commented on #29
Hm, odd. Upon investigation, it seems that these are truly "double gzipped" -- running gzip -d on them makes them a regular gzipped file with one .gz extension (such that if you ran gzip -d on _that_ file, you'd get a regular fasta file). We'll have to fix this eventually, but if you want to get started on the retraining as quickly as possible, you can gzip -d all the ".gz.gz" files.

[2020-03-24 18:05] dkoslicki commented on #29
Yup, that's what I ended up doing (guess I should have updated this comment when I figured that out)

[2020-03-25 01:33] dkoslicki commented on #4
This issue has now been fixed. See [here](https://github.com/dkoslicki/CMash/issues/19) for more details. Will be implemented in next release of CMash. In short, reverse complements were not being added to the ternary search trie (and a few other insidious bugs).

[2020-03-25 01:33] #4 closed, assigned to dkoslicki

[2020-03-25 04:33] dkoslicki opened #30 "Non-microbial organisms in training database"
There are a number of non-microbial organisms in the training database. This is _significantly slowing down the training step_, as CMash was designed with **small** microbial organisms in mind For example, I find a lot of Eukaryota (plants and the like):

|taxonomy|file name|compressed file size|
|-----------|----------|----------------------|
|Eukaryota,Viridiplantae,Streptophyta|taxid_69332_geno

[2020-03-31 10:32] vrou1995 opened #31 "Using paired read files as input"
Hi,

Is there any way to use paired reads as an input as Kraken2 does?

If not, what read merging software would you recommend?

Thanks!

[2020-03-31 14:13] nlapier2 commented on #31
Hi,

Thanks for your interest in Metalign! We can process paired end reads properly, but not when they are stored in two separate files (though we hope to add support for that eventually). Personally, I've found BBMap to be a good way to interleave separate paired-end files.

Best,
Nathan

[2020-03-31 14:13] #31 closed, assigned to nobody

[2020-03-31 14:18] nlapier2 opened #32 "Large Repo Size"
The repository is fairly large (>200MB), so it takes longer to download than it should. This is almost entirely due to backups of now-removed large files in the git pack file; the remaining files are less than 1MB in size, so almost all of this disk usage is unnecessary. This isn't a huge issue since the application involves big data anyways, but it would be nice to clean this up.

I've explored g

[2020-03-31 14:21] nlapier2 commented on #27
The recent update has done this for minimap2, KMC, and CMash.

[2020-03-31 14:21] #27 closed, assigned to nobody

[2020-03-31 14:24] nlapier2 commented on #29
The recent update has fixed these files; they should now have a regular (single) '.gz' extension like the rest of the files.

[2020-03-31 14:24] #29 closed, assigned to nlapier2

[2020-03-31 14:34] nlapier2 commented on #30
I thought I had excluded Viridiplantae, but I kept non-animal/plant eukaryote clades (e.g. SAR and other Protists) intentionally. Do we not want those? I'm a bit reluctant to throw out all Eukaryotes, which would mean excluding common clades like Protozoa and yeasts.

[2020-04-01 09:36] vrou1995 opened #33 "Possible missing genomes?"
Hi,

Thank you very much for making this software available.

As the paper suggested, the sensitivity of Metalign is much higher than that on Kraken2 with over 90% of my sequences classified.

However, both Kraken2 and my 16S rRNA data suggest a significant (>10%) contribution from the phylum Armatimonadetes, which is not found at all by Metalign. Is it possible that the setup.sh is not pulling th

[2020-04-01 19:48] nlapier2 commented on #33
Thanks for letting me know! We do have this phylum in our database, apparently, so I'm not sure why it's not showing up if you expect it to be there.

To check for this, I ran "grep Armatimonadetes data/db_info.txt | head" to find an organism in this phylum. The top organism was "Chthonomonas sp. UBA5584" with TaxID 1946340. To check that we had that file in our database, I ran "ls data/organism_f

[2020-04-02 09:58] vrou1995 commented on #33
Thanks for getting back to me. I ran the tests you suggested. There is a significant number (32%) that is classified to Actinobacteria. Interestingly, in addition to the 16S data I have a second confirmation that the Armatimonadetes classification is correct.

When I do metagenome assembly and binning, I get a bin (with good contain lengths) that GTKB-Tk classifies to the genus Chthonomonas and ha

[2020-04-23 16:50] dkoslicki commented on #20
@nlapier2 I think I've figured out the issue. Let me do a bit more local testing and I'll let you know

[2020-04-23 20:42] dkoslicki commented on #20
Officially merged and up on Bioconda! https://github.com/bioconda/bioconda-recipes/pull/21711

[2020-04-23 20:42] #20 closed, assigned to dkoslicki, nlapier2

[2020-04-23 20:44] dkoslicki commented on #16
relative location calls now removed (assuming installed by user) in 8a616e022c0cde8543a9837d7d5cd4704b413685. Also KMC, minimap2, and CMash now auto-installed in Bioconda release, so closing this issue.

[2020-04-23 20:44] #16 closed, assigned to nobody

[2020-05-04 18:16] dkoslicki opened #34 "Update Wiki and readmes"
With the bioconda release now in effect, the wiki's/README's will need to be updated to indicate this is the preferred method.

[2020-05-04 18:25] dkoslicki opened #35 "setup_data.sh not in bioconda release"
Appears only [python scripts were added](https://github.com/nlapier2/Metalign/blob/master/setup.py#L5-L7). Will need to modify `setup.py` so `setup_data.sh` is accessible on Bioconda install

[2020-05-04 18:29] dkoslicki commented on #34
Will also need to either
1. Specify that when downloading the pre-trained data, it's necessary to clone the repo as `setup_data.sh` thinks it's in a specific location
1. Modify `setup_data.sh` to allow for specifying a database location

[2020-05-04 20:16] dkoslicki commented on #35
Note: removing [this if statement](https://github.com/nlapier2/Metalign/blob/master/setup.py#L7) in `setup.py` **does** make bioconda install the `setup_data.sh` script. However, @nlapier2 as noted in #34, since `setup_data.sh` could be run from anywhere, if after bioconda install, I run `setup_data.sh`, it ends up getting dumped wherever I happened to be when I ran the command.

I suggest the fol

[2020-07-16 15:46] nlapier2 opened #36 "Minimizer pre-computing"
Idea (courtesy of Baraa Orabi): pre-compute minimizers for the reference genomes instead of recomputing them on every new minimap2 run

[2020-07-16 15:49] nlapier2 opened #37 "Handling long reads"
Several people have mentioned their interest in a long read mode of Metalign. The main challenge may be figuring out how to compute containment indices accurately. Minimap2 can obviously handle long reads, with an adjustment to the parameters. For abundance estimation, we'd have to shift to using number of bases mapped instead of read counts as the unit of abundance.

[2020-09-21 10:04] nilay-p commented on #37
Hi,
I was wondering if there is any development with the tool regarding to handling long reads. I am very much interested in using it in place of Kraken2.
What parameters would you suggest to adjust for analyzing long reads with the currrent version of the tool?

Kind Regrads,
Nilay

[2020-11-20 17:19] arvidgollwitzer opened #38 "setup_libraries.sh file missing"
where can the "setup_libraries.sh" file be found?
Is it necessary to work with "setup_libraries.sh" when installing Metalign via bioconda?

[2020-11-23 18:24] nlapier2 commented on #38
Hi,

Thanks for pointing this out. We removed this setup_libraries script from the repo a while ago but I forgot to update the wiki. To be clear, **Bioconda is the preferred installation method**, and you should not attempt to install the libraries manually (which is essentially what the setup_libraries script was doing) unless you can't (or really don't want to) use Bioconda. The instructions hav

[2020-11-23 18:24] #38 closed, assigned to nobody

[2020-11-24 08:35] arvidgollwitzer commented on #38
Hi Nathan,

Thank you so much for the quick response!
Best
Arvid

[2021-02-04 09:05] vrou1995 commented on #22
Hi,

I tried to retrain the model but I came across an issue at the K-mer dumping set. The error said that I could not "import MinHash as MH" even though I have cmash in my Conda "metalign" environment? Is there perhaps an issue with the sys.path?

Many thanks,

Vincent

[2021-02-04 23:07] dkoslicki commented on #22
@vrou1995 Python imports and sys.path are the bane of my existence. I usually solve it with a bunch of `sys.path.insert`s along with `try,except`. See [here](https://github.com/dkoslicki/CMash/blob/master/scripts/MakeStreamingDNADatabase.py#L6-L14) for an example. It might also be an issue of where you are calling the script from, but without knowing your path, it’s hard to diagnose. Hopefully tha

[2021-04-12 20:38] chunyuma opened #39 "Build a customized database?"
Hi @nlapier2 and @dkoslicki,

This is Chunyu and I have two questions regarding Metaglin.

1. I'm wondering if the default database used by Metaglin includes the genomes of all organisms in NCBI database

2. To run Metalign, is it possible to build a customized database which mainly focuses on all viruses and fungi in NCBI taxonomy database. Perhaps it might need to run CMash for all these genomes

[2021-04-12 21:32] dkoslicki commented on #39
Hi @chunyuma , as for 1. @nlapier2 will be able to explain in more detail, but if I recall correctly, Metalign was trained on a subset of NCBI. There isn't really a since "NCBI database" (as there's RefSeq, the `genomes` ftp server, the SRA, etc.), so some filtering was done, but @nlapier2 knows the details.

2. There is a branch in CMash that shows how to retrain CMash and Metalign. Take a look a

[2021-04-12 21:34] chunyuma commented on #39
Thanks for these information, @dkoslicki!

[2021-04-12 21:41] nlapier2 commented on #39
Hi @chunyuma , to follow up on David's answer, the database consisted of every NCBI assembly from the ftp server (including those from both RefSeq and GenBank) that was complete enough to have a taxonomic label and corresponded to a microbial organism's genome (excluding animals and plants, for instance), as of roughly November 2017. It was basically the most comprehensive microbial reference data

[2021-04-12 21:53] chunyuma commented on #39
Hi @nlapier2, thanks so much for your answer. I'm wondering if the current default database is complete enough to profile the microbial sample with only viruses or fungi rather than bacteria. Since I'm currently working on a simple comparison between Metaglin and [MiCoP](https://github.com/smangul1/MiCoP)(I just realized that you are also the author for this tool), I want to be fair in the compari

[2021-04-12 22:30] nlapier2 commented on #39
@chunyuma
Ah, interesting! I'd be interested to see what you find. The Metalign database should include everything that's in the Micop database and more (e.g. the Metalign database is a superset of the Micop database). In fact Micop is RefSeq-based, so Metalign should even have more viral and fungal genomes than Micop.

Currently we don't have any way to specify only viruses or fungi for Metalign,

[2021-04-12 22:37] nlapier2 commented on #39
To answer your last question, the most direct way to compare them would be to retrain Metalign on Micop's database. In some sense this is the most "fair", theoretically, but most people would actually use Metalign's default database (which is more comprehensive anyways, as I said), so I think you could justify comparing them with their default databases. Since you said you want a simple comparison

[2021-04-12 22:46] chunyuma commented on #39
Ah, I see, thanks @nlapier2. Regarding the "dropout" issue for Metaglin, I'm wondering if there is a parameter to set a threshold for low-abundance. Since the Micop seems not to drop any low-abundance fungi and virus, this might also cause some biases to Metaglin result when compared with Micop.

I think you're right because it's impossible to know what microbes in the real sample. So using the de

[2021-04-12 22:52] chunyuma commented on #39
By the way, @nlapier2, can I know how large for the metaglin database? It's been downloading for a while (more than 3 hours).  I also quite concerns if my disk is large enough to store metaglin database.

[2021-04-12 22:55] nlapier2 commented on #39
@chunyuma Yeah, it will take several hours. It is about 250GB compressed. It's much larger than the Micop database. Metalign does include several filtering options (as does Micop) -- see the [wiki](https://github.com/nlapier2/Metalign/wiki/Command-line-option-descriptions) for examples (including --read_cutoff and --min_abundance).

[2021-04-12 23:51] dkoslicki commented on #39
And @chunyuma feel free to use the lab server (or ACI) in case disk space is an issue

[2021-04-20 08:12] jfy133 commented on #39
I would like to jump in and ask that it would be nice that , _in lieu_ of a tutorial (as I see is on a [TODO](https://github.com/nlapier2/Metalign/issues/12) but still isn't here), somewhere in on the README or in the wiki that it should be specified that you currently CAN'T input your 'own' database. Or at least add a list of some prequisites before running the tool.

I tried running it with a bu

[2021-06-11 08:44] vrou1995 commented on #22
Hi @dkoslicki I'm still getting stuck at the prefilter step, I have a server with 64GB RAM but its been running for many weeks. Do you have any idea why this might be?

[2021-09-08 08:49] premkrishnan opened #40 "Metalign run error"
Hi,

I am new to this and just starting to try out Metalign. Appreciate your help to figure out the following issue that I am facing.

First, I tested with sample data file.

**TESTING**: Installed Metalign as mentioned in Wiki page and successfully ran with the example file (wget https://ucla.box.com/shared/static/ybz1xgke32kh56p4lqsg41t4g1bq8xy0.gz && mv ybz1xgke32kh56p4lqsg41t4g1bq8xy0.gz reads

[2021-10-01 00:53] nlapier2 commented on #40
Hi Prem,

Sorry for the late reply -- I was on vacation when this was posted. Based on the first error, it seems that you have an old version of screed, as screed has now changed "compression is 'bz2'" to "compression == 'bz2'" -- you can verify this via their repo if you'd like. I am not entirely sure if this is because the CMash conda build specifies a certain version of screed, or if you just h

[2021-10-01 02:15] premkrishnan commented on #40
Hi Nathan,
Thanks for replying :)
I installed through conda, not manually. I will try to update screed and see what happens. I will keep you posted.

-Prem

[2021-10-01 03:54] luizirber commented on #40
I think the issue is that the instruction to install Metalign in https://github.com/nlapier2/Metalign/wiki#bioconda-version :
`conda install -c bioconda Metalign`
is underspecified. If you want a one-line install, then it needs to include `conda-forge` too:
`conda install -c conda-forge -c bioconda Metalign`
but the better approach is to follow the bioconda setup instructions in http://bioconda.gi

[2021-10-01 03:56] luizirber commented on #40
That said, I think the error is that `/cm/shared/apps/build/Metalign/frap8xqi/60mers_intersection_dump.fa` seems to be empty? screed is not even being used (there are `SyntaxWarning`s, but they are not fatal), it is actually `khmer.ReadParser` that is reading the file and throwing the fatal error.

[2021-10-01 14:29] nlapier2 commented on #40
Thanks Luiz, I have updated that line in the wiki. I did notice that screed is only throwing warnings, but I wondered if this could indicate downstream problems, e.g. if the compressed file is not being read properly then there would be no k-mer intersection. Perhaps not, but then I'm not really sure what the problem is...